<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Belajar Django</title>

    </head>
    <body class="d-flex flex-column h-100">
        <h1> INI ADALAH HOME</h1>
        <a href="/about"> about</a>
<br><br>
	<form method='post'>
		{% csrf_token %}
		<label for="nama">Nama : </label>
		<input type="text" name="nama" id="nama">
		<br><br>
        
		<label for="alamat">Alamat : </label>
		<input type="text" name="alamat" id="alamat">
		<br>
		<button type="Submit">Kirim</button>

	</form>

	<h2>{{nama}}</h2>
	<h2>{{alamat}}</h2>
    </body>
</html>
